<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Canjear
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Canjear</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding h-100 qr-page">
    @if (QRCode) {
      <qrcode
        [qrdata]="QRCode"
        [width]="260"
        errorCorrectionLevel="M"
        elementType="canvas"
        ariaLabel="Codigo QR de cupones activos"
      ></qrcode>
    } @else {
      <ion-text color="medium">
        <p>No hay cupones activos</p>
      </ion-text>
    }
  </div>
</ion-content>
